In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# read the csv file
df = pd.read_csv("D:/Data Engineering/yellow_tripdata_2019-02.csv/yellow_tripdata_2019-02.csv", nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-02-01 00:59:04,2019-02-01 01:07:27,1,2.1,1,N,48,234,1,9.0,0.5,0.5,2.0,0.0,0.3,12.3,0
1,1,2019-02-01 00:33:09,2019-02-01 01:03:58,1,9.8,1,N,230,93,2,32.0,0.5,0.5,0.0,0.0,0.3,33.3,0
2,1,2019-02-01 00:09:03,2019-02-01 00:09:16,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,0
3,1,2019-02-01 00:45:38,2019-02-01 00:51:10,1,0.8,1,N,95,95,2,5.5,0.5,0.5,0.0,0.0,0.3,6.8,0
4,1,2019-02-01 00:25:30,2019-02-01 00:28:14,1,0.8,1,N,140,263,2,5.0,0.5,0.5,0.0,0.0,0.3,6.3,0

In [4]:
# type - casting

df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"])
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"])

In [5]:
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")

In [6]:
engine.connect()

In [19]:
print(pd.io.sql.get_schema(df, name="ny_taxi"))

CREATE TABLE "ny_taxi" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" INTEGER
)

In [28]:
df_iter = pd.read_csv("D:/Data Engineering/yellow_tripdata_2019-02.csv/yellow_tripdata_2019-02.csv", iterator=True, chunksize=100000)
df = next(df_iter)

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

df.head(n=0).to_sql('ny_taxi', engine, if_exists='replace')

0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   RatecodeID             100000 non-null  int64
 6   store_and_fwd_flag     100000 non-null  object
 7   PULocationID           100000 non-null  int64
 8   DOLocationID           100000 non-null  int64
 9   payment_type           100000 non-null  int64
 10  fare_amount            100000 non-null  float64
 11  extra                  100000 non-null  float64
 12  mta_tax                100000 non-null  float64
 13  tip_amount             100000 non-null  float64
 14  tolls_amount           100000 non-null  float64
 15  improvement_surcharge  100000 non-null  float64
 16  total_amount           100000 non-null  float64
 17  congestion_surcharge   100000 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 13.7+ MB

In [30]:
len(df)

100000

In [31]:
df.to_sql('ny_taxi', con=engine, if_exists='append')

1000

In [33]:
from time import time

In [34]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
        df.to_sql('ny_taxi', con=engine, if_exists='append')
        t_end = time()
        print(f"Chunk loaded in {t_end - t_start} seconds")
    except StopIteration:
        print("Done!")
        break

Chunk loaded in 10.719090223312378 seconds
Chunk loaded in 11.376824378967285 seconds
Chunk loaded in 10.398078680038452 seconds
Chunk loaded in 11.429532766342163 seconds
Chunk loaded in 11.279812097549438 seconds
Chunk loaded in 11.740566730499268 seconds
Chunk loaded in 12.202941656112671 seconds
Chunk loaded in 11.98747730255127 seconds
Chunk loaded in 11.93657636642456 seconds
Chunk loaded in 11.77940320968628 seconds
Chunk loaded in 12.581239938735962 seconds
Chunk loaded in 11.784946918487549 seconds
Chunk loaded in 11.078043222427368 seconds
Chunk loaded in 12.0915687084198 seconds
Chunk loaded in 12.667423486709595 seconds
Chunk loaded in 12.017834424972534 seconds
Chunk loaded in 11.59025502204895 seconds
Chunk loaded in 11.697088718414307 seconds
Chunk loaded in 11.387888669967651 seconds
Chunk loaded in 11.809698820114136 seconds
Chunk loaded in 10.5330228805542 seconds
Chunk loaded in 10.886840343475342 seconds
Chunk loaded in 11.263630390167236 seconds
Chunk loaded in 10.787780046463013 seconds
Chunk loaded in 11.675949096679688 seconds
Chunk loaded in 11.005443334579468 seconds
Chunk loaded in 10.78498387336731 seconds
Chunk loaded in 11.778681516647339 seconds
Chunk loaded in 11.244199991226196 seconds
Chunk loaded in 12.14929747581482 seconds
Chunk loaded in 11.36006212234497 seconds
Chunk loaded in 11.084354400634766 seconds
Chunk loaded in 11.541834354400635 seconds
Chunk loaded in 10.864699363708496 seconds
Chunk loaded in 10.814180850982666 seconds
Chunk loaded in 12.075289487838745 seconds
Chunk loaded in 11.129181861877441 seconds
Chunk loaded in 11.62307858467102 seconds
Chunk loaded in 11.466322422027588 seconds
Chunk loaded in 11.299826383590698 seconds
Chunk loaded in 11.808809995651245 seconds
Chunk loaded in 10.72908067703247 seconds
Chunk loaded in 10.967319011688232 seconds
Chunk loaded in 11.01089096069336 seconds
Chunk loaded in 11.387445211410522 seconds
Chunk loaded in 11.59459662437439 seconds
Chunk loaded in 12.22105097770691 seconds
Chunk loaded in 10.831061840057373 seconds
Chunk loaded in 11.152688980102539 seconds
Chunk loaded in 11.183494806289673 seconds
Chunk loaded in 11.757731914520264 seconds
Chunk loaded in 11.89101791381836 seconds
Chunk loaded in 11.099770307540894 seconds
Chunk loaded in 11.351667165756226 seconds
Chunk loaded in 11.04949402809143 seconds
Chunk loaded in 11.88513731956482 seconds
Chunk loaded in 12.949967861175537 seconds
Chunk loaded in 11.803022384643555 seconds
Chunk loaded in 11.362927913665771 seconds
Chunk loaded in 11.697048664093018 seconds
Chunk loaded in 11.541790246963501 seconds
Chunk loaded in 11.500532865524292 seconds
Chunk loaded in 11.20657730102539 seconds
Chunk loaded in 11.133564233779907 seconds
Chunk loaded in 11.063151359558105 seconds
Chunk loaded in 11.043256282806396 seconds
Chunk loaded in 12.113546133041382 seconds
Chunk loaded in 12.078418016433716 seconds
Chunk loaded in 10.874207258224487 seconds
Chunk loaded in 2.119321346282959 seconds
Done!